.paragraph-blue {
  color: white;
  background-color: #0b3d86;
  padding: 10px;
}

.rowt {
  margin-top: -20px;
  margin-bottom: -10px;
}

.rowl {
  padding: 3px;
}

.redDivider {
  background-color: #fe000d;
  height: 4px;
  border-radius: 3px;
  margin-bottom: 10px;
  margin-top: 10px;
}

@media(max-width: 991px) {
  .text-Categories {
    text-align: center;
  }
}