#jumbotronImg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    vertical-align: center;
}

.navbarArrow{
	color: #fe000d;
}

.down{
    color: white;
    transform: rotate(90deg); 
}

.text-Footer {
  text-align: center;
}

@media(max-width: 767px){
  .text-Footer{
    font-size: 12px;
  }
  .img-footer{
    visibility: hidden;
  }
}

.img-footer {
  padding-right: 20px;
  padding-top: 5px;
}

.button-home{
  text-align: center;
}

.jumb-image{
  background-image: url("/img/jumbotron.jpg");
}