.redDivider{
    background-color: #fe000d;
    height: 4px;
    border-radius: 3px;
    margin-bottom: 10px;
    margin-top: 10px; 
}

.productTitle{
		font-weight: bold;
    color: #fe000d;
    font-size: 40px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.productPrice{
		font-weight: bold;
    color: #fe000d;
    font-size: 40px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.productSectionTitle{
    font-size: 24px;
    margin-bottom: 10px;
    margin-top: 10px;
}

#btn-buy {
    background-color: #0b3d86;
    font-size: 24px;
    margin-bottom: 10px;
    margin-top: 10px;
}