.sidebarTitle {
    background-color: #fe000d;
		color : #fff;
		text-align: center;
		padding-bottom: 15px;
		padding-top: 15px;
		padding-left: 10px;
		padding-right: 10px;
    font-size: 24px;
}

.sidebarEntry {
		color: #0b3d86;
    font-size: 20px;
}
